.colorViolet {
  background-color: blueviolet;
  color: ghostwhite;
  justify-content: space-between;

  button {
    border: none;
    background-color: transparent;
    color: ghostwhite;
  }
}

.colorGreen {
  background-color: darkgreen;
  color: ghostwhite;
  justify-content: space-between;

  button {
    border: none;
    background-color: transparent;
    color: ghostwhite;
  }
}

.colorRed {
  background-color: crimson;
  color: ghostwhite;
  justify-content: space-between;

  button {
    border: none;
    background-color: transparent;
    color: ghostwhite;
  }
}

.colorWhite {
  background-color: ghostwhite;
  color: lightslategray;
  justify-content: space-between;

  button {
    border: none;
    background-color: transparent;
    color: lightslategray;
  }
}

.colorFooterViolet {
  background: rgb(227, 203, 248);
  color: rgb(138, 43, 226);
  border-top: 2px solid rgb(138, 43, 226);
  width: 100%;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorFooterGreen {
  background: rgb(217, 250, 217);
  color: darkgreen;
  border-top: 2px solid darkgreen;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorFooterRed {
  background: rgb(255, 209, 218);
  color: crimson;
  border-top: 2px solid crimson;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorFooterWhite {
  background: rgb(246, 246, 247);
  color: lightslategray;
  border-top: 2px solid lightslategray;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  justify-content: center;
  display: flex;
    align-items: center;
    justify-content: space-between;
  
    button {
      border: none;
      background-color: transparent;
  
      a {
        text-decoration: none;
      }
    }
  
    button>a .colorNavigationViolet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: rgb(138, 43, 226);
    }
  
    button>a .colorNavigationGreen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: darkgreen;
    }
  
    button>a .colorNavigationRed {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: crimson;
    }
  
    button>a .colorNavigationWhite {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: lightslategray;
    }
}

p {
  margin: 0;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}
