<mat-toolbar class="{{ color }}">
  <h1>App</h1>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="settings">
        <mat-icon>settings_applications</mat-icon><span class="span">Settings</span>
      </button>
      <!-- <button mat-menu-item [matMenuTriggerFor]="perfil">
        <mat-icon>assignment_ind</mat-icon><span class="span">Perfil</span>
      </button> -->
    </mat-menu>

    <mat-menu #settings="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="theme">Tema</button>
      <!-- <button mat-menu-item [matMenuTriggerFor]="ajuste">Ajuste</button> -->
    </mat-menu>
    <!-- <mat-menu #perfil="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="login">Tema</button>
      <button mat-menu-item [matMenuTriggerFor]="sair">Ajuste</button>
    </mat-menu> -->
    <mat-menu #theme="matMenu">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="radio-group"
        [(ngModel)]="favoriteSeason"
      >
        <mat-radio-button
          class="radio-button"
          *ngFor="let season of seasons"
          [value]="season"
          (click)="changeTheme(season)"
        >
          {{ season }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-menu>

    <!-- <mat-menu #ajuste="matMenu">
      <button mat-menu-item>Tela</button>
      <button mat-menu-item>App</button>
    </mat-menu>

    <mat-menu #login="matMenu">
      <button mat-menu-item>login</button>
    </mat-menu>

    <mat-menu #sair="matMenu">
      <button mat-menu-item>Sair</button>
    </mat-menu> -->
</mat-toolbar>
<app-angular-flex-layout></app-angular-flex-layout>
<div class="{{ colorFooter }}">
  <div class="container">
    <div class="content">
        <button>
          <a [routerLink]="['/home']">
            <div class="{{colorNavigation}}">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </div>
          </a>
        </button>
        <button>
          <a [routerLink]="['/repertorie']">
            <div class="{{colorNavigation}}">
              <mat-icon>playlist_play</mat-icon>
              <span>Repertorio</span>
            </div>
          </a>
        </button>
    </div>
  </div>
</div>
